In [2]:
import pandas as pd

In [9]:
test = pd.DataFrame(index=[3,1,4,5], data={'col1':[10,11,12,13], 'col2':[1,3,8,9]})

display(test)
test.rolling(1, closed='left').sum()

   col1  col2
3    10     1
1    11     3
4    12     8
5    13     9

   col1  col2
3   NaN   NaN
1  10.0   1.0
4  11.0   3.0
5  12.0   8.0